@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,400&family=Oswald:wght@400;600;700&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Sansita+Swashed:wght@300;400&family=Tangerine:wght@400;700&family=Vujahday+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    color: #E21717;
    font-weight: bolder;
    font-size: 3.2rem;
    font-family: Tangerine;
}
.container{
    background-color: #CAD5E2;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.palyer-div{
    background-color: #fff;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.disk-icon{
    width: 150px;
}
.spin{
    animation: rotation 10s infinite linear;
    z-index: 2;
    }
@keyframes rotation {
 from {
      transform: rotate(0deg);
       }
   to {
      transform: rotate(359deg);
       }
}
.play-btn{
    width: 50px;
}
.top-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid black; */
    margin-top: 50px;
}
.details-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.bottom-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sleek-container{
    /* border: 1px solid black; */
    width: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.controller{
    /* border: 1px solid black; */
    width: 140px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.backword-icon{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.forword-icon ,.play-btn , .backword-icon{
    cursor: pointer;
}